.header {
    display: flex;

    transition-duration: 500ms;
    transform: translate(-220px);

    width: 250px;
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.link {
    text-decoration: none;
    color: antiquewhite;
    margin: 10px;
}

.active {

}

.block {
    margin: 10px;
    width: 30px;
    height: 30px;
    background: aquamarine;
    border-radius: 20px;

}

.link:hover {
    color: aquamarine;
}